.btn {

  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 3rem;
    cursor: pointer;
    border-radius: 3rem;
    display: inline-block;
    transition: all .5s;
    position: relative;
    font-size: $default-font-size;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgb(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      /* transform: scale(1.6); */
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, 0.2);
  }

  &-white {
    background-color: $white;
    color: $gray;

    &::after {
      background-color: $white;
      /* border: 5px solid var(--white); */
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &-animation {
    animation: moveInBtn .5s ease-out .75s;
    animation-fill-mode: backwards;
  }

  &-text {

    &:link,
    &:visited {
      font-size: $default-font-size;
      color: $lg;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $lg;
      padding: 3px;
      transition: all .2s;
    }
    &:hover {
      background-color: $lg;
      color: $white;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
      transform: scaleX(-3px);
    }
    :active {
      box-shadow: 0 .5rem 2rem rgba($color-black, .15);
      transform: scaleX(0);
    }
  }

}