.composition {
  position: relative;

  &_photo {
    width: 55%;
    box-shadow: 0 .5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;

    &-p {
      &1 {
        left: 0;
        top: -2rem;
      }

      &2 {
        right: 0;
        top: 2rem;
      }

      &3 {
        left: 20%;
        top: 10rem;
      }
    }

    &:hover {
      outline: 1.5rem solid $mg;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 1.5rem 4rem rgba($color-black, .5);
      z-index: 20;
    }
  }

  &:hover &_photo:not(:hover) {
    transform: scale(.9);
  }
}