.feature-box {
  background-color: rgba($color-white, .8);
  font-size: $default-font-size;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: transform .5s;

  &__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, $lg, $dg);
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  &__text {}
}