.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.6)), url('../img/nat-4.jpg');
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  &>* {
    transform: skewY(7deg);
  }
}
.section-tours {
  background-color: $color-gray-light-1;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem;
}