
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $gray;
  box-sizing: border-box;
  background-color: $body-color;
}
a {
  text-decoration: none;
  color: black;
}