.heading-primary {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: $white;
    text-transform: uppercase;
    backface-visibility: hidden;


  &-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin: 0;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    /* 
    animation-delay: 3s;
    animation-iteration-count: 3;
     */
  }

  &-sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    margin-bottom: 1rem;
  }
}

.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $lg, $dg);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color: #000000, $alpha: 1.0);
  }
}