.heading-tertiary{
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
// for text align
.text {
  &-left {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }

  &-justify {
    text-align: justify;
  }
  &-upper {
    text-transform: uppercase;
  }
  &-lower{
    text-transform: lowercase;
  }
}

// 


// form margin 
.m {
  // for all site
  &-1 {
    margin: 1rem;
  }

  &-2 {
    margin: 2rem;
  }

  &-3 {
    margin: 3rem;
  }

  &-4 {
    margin: 4rem;
  }

  &-5 {
    margin: 5rem;
  }

  &-6 {
    margin: 6rem;
  }

  &-7 {
    margin: 7rem;
  }

  &-8 {
    margin: 8rem;
  }

  &-9 {
    margin: 9rem;
  }

  &-10 {
    margin: 10rem;
  }

  // for left
  &l-1 {
    margin-left: 1rem;
  }

  &l-2 {
    margin-left: 2rem;
  }

  &l-3 {
    margin-left: 3rem;
  }

  &l-4 {
    margin-left: 4rem;
  }

  &l-5 {
    margin-left: 5rem;
  }

  &l-6 {
    margin-left: 6rem;
  }

  &l-7 {
    margin-left: 7rem;
  }

  &l-8 {
    margin-left: 8rem;
  }

  &l-9 {
    margin-left: 9rem;
  }

  &l-10 {
    margin-left: 10rem;
  }

  // for right
  &r-1 {
    margin-right: 1rem;
  }

  &r-2 {
    margin-right: 2rem;
  }

  &r-3 {
    margin-right: 3rem;
  }

  &r-4 {
    margin-right: 4rem;
  }

  &r-5 {
    margin-right: 5rem;
  }

  &r-6 {
    margin-right: 6rem;
  }

  &r-7 {
    margin-right: 7rem;
  }

  &r-8 {
    margin-right: 8rem;
  }

  &r-9 {
    margin-right: 9rem;
  }

  &r-10 {
    margin-right: 10rem;
  }

  // for top
  &t-1 {
    margin-top: 1rem;
  }

  &t-2 {
    margin-top: 2rem;
  }

  &t-3 {
    margin-top: 3rem;
  }

  &t-4 {
    margin-top: 4rem;
  }

  &t-5 {
    margin-top: 5rem;
  }

  &t-6 {
    margin-top: 6rem;
  }

  &t-7 {
    margin-top: 7rem;
  }

  &t-8 {
    margin-top: 8rem;
  }

  &t-9 {
    margin-top: 9rem;
  }

  &t-10 {
    margin-top: 10rem;
  }

  // for bottom
  &b-1 {
    margin-bottom: 1rem;
  }

  &b-2 {
    margin-bottom: 2rem;
  }

  &b-3 {
    margin-bottom: 3rem;
  }

  &b-4 {
    margin-bottom: 4rem;
  }

  &b-5 {
    margin-bottom: 5rem;
  }

  &b-6 {
    margin-bottom: 6rem;
  }

  &b-7 {
    margin-bottom: 7rem;
  }

  &b-8 {
    margin-bottom: 8rem;
  }

  &b-9 {
    margin-bottom: 9rem;
  }

  &b-10 {
    margin-bottom: 10rem;
  }

  // margin left right
  &x-1 {
    margin: 0 1rem;
  }

  &x-2 {
    margin: 0 2rem;
  }

  &x-3 {
    margin: 0 3rem;
  }

  &x-4 {
    margin: 0 4rem;
  }

  &x-5 {
    margin: 0 5rem;
  }

  &x-6 {
    margin: 0 6rem;
  }

  &x-7 {
    margin: 0 7rem;
  }

  &x-8 {
    margin: 0 8rem;
  }

  &x-9 {
    margin: 0 9rem;
  }

  &x-10 {
    margin: 0 10rem;
  }

  // for top bottom 
  &y-1 {
    margin: 0rem;
  }

  &y-2 {
    margin: 2rem 0;
  }

  &y-3 {
    margin: 3rem 0;
  }

  &y-4 {
    margin: 4rem 0;
  }

  &y-5 {
    margin: 5rem 0;
  }

  &y-6 {
    margin: 6rem 0;
  }

  &y-7 {
    margin: 7rem 0;
  }

  &y-8 {
    margin: 8rem 0;
  }

  &y-9 {
    margin: 9rem 0;
  }

  &y-10 {
    margin: 10rem 0;
  }
}
// for padding 
.p {
  // for all site
  &-1 {
    padding: 1rem;
  }

  &-2 {
    padding: 2rem;
  }

  &-3 {
    padding: 3rem;
  }

  &-4 {
    padding: 4rem;
  }

  &-5 {
    padding: 5rem;
  }

  &-6 {
    padding: 6rem;
  }

  &-7 {
    padding: 7rem;
  }

  &-8 {
    padding: 8rem;
  }

  &-9 {
    padding: 9rem;
  }

  &-10 {
    padding: 10rem;
  }

  // for left
  &l-1 {
    padding-left: 1rem;
  }

  &l-2 {
    padding-left: 2rem;
  }

  &l-3 {
    padding-left: 3rem;
  }

  &l-4 {
    padding-left: 4rem;
  }

  &l-5 {
    padding-left: 5rem;
  }

  &l-6 {
    padding-left: 6rem;
  }

  &l-7 {
    padding-left: 7rem;
  }

  &l-8 {
    padding-left: 8rem;
  }

  &l-9 {
    padding-left: 9rem;
  }

  &l-10 {
    padding-left: 10rem;
  }

  // for right
  &r-1 {
    padding-right: 1rem;
  }

  &r-2 {
    padding-right: 2rem;
  }

  &r-3 {
    padding-right: 3rem;
  }

  &r-4 {
    padding-right: 4rem;
  }

  &r-5 {
    padding-right: 5rem;
  }

  &r-6 {
    padding-right: 6rem;
  }

  &r-7 {
    padding-right: 7rem;
  }

  &r-8 {
    padding-right: 8rem;
  }

  &r-9 {
    padding-right: 9rem;
  }

  &r-10 {
    padding-right: 10rem;
  }

  // for top
  &t-1 {
    padding-top: 1rem;
  }

  &t-2 {
    padding-top: 2rem;
  }

  &t-3 {
    padding-top: 3rem;
  }

  &t-4 {
    padding-top: 4rem;
  }

  &t-5 {
    padding-top: 5rem;
  }

  &t-6 {
    padding-top: 6rem;
  }

  &t-7 {
    padding-top: 7rem;
  }

  &t-8 {
    padding-top: 8rem;
  }

  &t-9 {
    padding-top: 9rem;
  }

  &t-10 {
    padding-top: 10rem;
  }

  // for bottom
  &b-1 {
    padding-bottom: 1rem;
  }

  &b-2 {
    padding-bottom: 2rem;
  }

  &b-3 {
    padding-bottom: 3rem;
  }

  &b-4 {
    padding-bottom: 4rem;
  }

  &b-5 {
    padding-bottom: 5rem;
  }

  &b-6 {
    padding-bottom: 6rem;
  }

  &b-7 {
    padding-bottom: 7rem;
  }

  &b-8 {
    padding-bottom: 8rem;
  }

  &b-9 {
    padding-bottom: 9rem;
  }

  &b-10 {
    padding-bottom: 10rem;
  }

  // padding left right
  &x-1 {
    padding: 0 1rem;
  }

  &x-2 {
    padding: 0 2rem;
  }

  &x-3 {
    padding: 0 3rem;
  }

  &x-4 {
    padding: 0 4rem;
  }

  &x-5 {
    padding: 0 5rem;
  }

  &x-6 {
    padding: 0 6rem;
  }

  &x-7 {
    padding: 0 7rem;
  }

  &x-8 {
    padding: 0 8rem;
  }

  &x-9 {
    padding: 0 9rem;
  }

  &x-10 {
    padding: 0 10rem;
  }

  // for top bottom 
  &y-1 {
    padding: 0rem;
  }

  &y-2 {
    padding: 2rem 0;
  }

  &y-3 {
    padding: 3rem 0;
  }

  &y-4 {
    padding: 4rem 0;
  }

  &y-5 {
    padding: 5rem 0;
  }

  &y-6 {
    padding: 6rem 0;
  }

  &y-7 {
    padding: 7rem 0;
  }

  &y-8 {
    padding: 8rem 0;
  }

  &y-9 {
    padding: 9rem 0;
  }

  &y-10 {
    padding: 10rem 0;
  }
}

.rounded {
  border-radius: 3px;
}
.box-shadow {
  box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha);
}