.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.6)), url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  /*https://bennettfeely.com/clippy*/
  &_logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    & .logo {
      width: 10rem;
    }
  }

  &_logo {
    height: 3.5rem;
  }

  &_text-box {
    display: table;
    width: 100%;
    height: 100%;
  }


}