/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
// COLOR
$lg : #7ed56f; // color primary light
$mg : #55c57a; // color primary
$dg : #28b485; // color primary dark
$white : #fff;
$gray : #777; // color gray dark
$body-color : #e4e4e4;
$color-gray-light-1 : #f7f7f7;

// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$alpha : .15;

// GRID
$grid-width : 114rem;
$gutter-vertical : 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal : 6rem;

// FONT SIZE
$default-font-size: 1.6rem;

// COLORS